beautifulsoup4
certifi
charset-normalizer
cmake
cvlib
dlib
et-xmlfile
fastjsonschema
google-cloud-storage
idna
imageio
imutils
numpy
opencv-python
openpyxl
pandas
Pillow
plotly
pytups
progressbar
python-dateutil
pytz
requests
six
tensorflow
urllib3
XlsxWriter