certifi
charset-normalizer
cmake
cvlib
dlib
et-xmlfile
fastjsonschema
idna
imageio
imutils
numpy
opencv-python
openpyxl
pandas
Pillow
progressbar
python-dateutil
pytz
requests
six
tensorflow
urllib3
XlsxWriter