name: Publish to Pypi

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build and publish to PyPI.
    defaults:
      run:
        working-directory: .
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install wheel
        run: |
          python -m pip install --upgrade pip
          pip install wheel
      - name: Build binary wheel and source tarball
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish to test PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.test_pypi_password }}
          repository_url: https://test.pypi.org/legacy/
          packages_dir: ./dist
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.pypi_password }}
          packages_dir: ./dist
